/* nombre del tag */
p {
  color: red;
}
h1 {
  color: blue;
}
h2 {
  color: magenta;
}

/* Por identificador */
#primer-subtitulo {
  color: red;
}

/* Por clase */
/* para varios elementos */
.texto-verde {
  color: green;
}

div p {
  color: greenyellow;
}

div > p {
  color: blue;
}

div + p {
  color: green;
}

/* pseudo-clases */

a {
  color: white;
}

a:hover {
  color: red;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ul.navegacion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  ul.nagevacion li {
    display: inline;
  }

  ul.navegacion a {
    text-decoration: none;
    background-color: blue;
    color: aliceblue;
    padding: 5px 10px;
  }

  ul navegacion a:hover {
    background-color: aqua;
    border-bottom: 2px solid;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}
td {
  text-align: center;
}
th {
  background: cyan;
  color: #fff;
  padding: 5px 10px;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  background: black;
  display: grid;
  grid-template: 50px auto auto 50px / 0.3fr 1fr 0.3fr;
  grid-template-areas:
  "header header header"
  "menu contenido area1"
  "menu contenido area2" 
  "footer footer footer";
  gap: 5px;
}
.header {
  background: darkcyan;
  grid-area: header;
  grid-template: 30px / 0.3fr 1fr 0.3fr;
  grid grid-template-areas: 
  "logo header salir";
}
.menu {
  background: darkgreen;
 grid-area: menu;
}
.contenido {
  background: darkkhaki;
  grid-area: contenido;
}
.footer {
  background: pink;
  grid-area: footer;
}
.area1{
  background: orange;
  grid-area: area1;
}
.area2{
  background: red;
  grid-area: area2;
}
.logo{
  grid-area: logo;
  background: fuchsia;
  color: black; 
  width: 50px; 

}
.salir{
  background: blueviolet;
  color: black; 
  width: 50px; 
  grid-area: salir;
  }
